@import url(//fonts.googleapis.com/css?family=PT+Sans+Narrow); /* 'PT Sans Narrow', sans-serif; */
@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz); /* 'Yanone Kaffeesatz', sans-serif; */
@import url(//fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap); /* 'Montserrat', sans-serif; */
/*
	Notes: Fluid Grid Layout - inspired by: Kevin Cornell
	url: http://www.alistapart.com/articles/fluidgrids/

	EM Conversion Equation: target(px) Ã· context(px) = result(em)
	% Conversion Equation: target(px) Ã· parent(px) = result (% * 10)

	Default Font: 16px [true default]
	total: 960px (960/16 = 60em)
	8 columns: 108.75px ea. (150/16 = 6.796875em) 
	9 gutters [includes outter gutters]: 10px ea. (10/16 = 0.625em)
	
    Background pattern from Toptal Subtle Patterns (prism.png)

*/

/*========== Vars ==========*/

:root {
    --rb-blue: rgb(72,131,179);
    --dark-gray: #333;
    --medium-gray: rgb(100,100,100);
    --light-gray: rgb(240,240,240);
    --primary-font: normal 100% 'PT Sans Narrow', sans-serif;
    /* --header-font: 'Yanone Kaffeesatz', sans-serif; */
    --header-font: 'Montserrat', sans-serif;
}



html { 
    -webkit-text-size-adjust: none; 
} /* #nav hack and prevent font scaling in iOS */
body {
	padding: 0;
	margin: 0;
	font: var(--primary-font);
    /*font: normal 100% Helvetica, Arial, sans-serif;*/ /* context set = 16px */
	color: #FFF;
    /* background: url("img/rb_bk.png") top center #050329 repeat-x; */
    /* background: rgb(100,100,100); */
    background: url("img/prism.png") top center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8px;
}

/*========== inline ==========*/
a:link, a:visited { color: #5D9CD5; }
a:hover { color: #b5e3fa; }
h1 {
	font-family: var(--header-font);
    font-size: 1.5em;        /* 24px / 16px = 1.5em */
}
h2 {
	font-family: var(--header-font);
    margin: 0;
    padding: 1em 0;
    font-size: 1.5em;
	font-weight: 200;
	clear: both;
}
h3 {
	font-family: var(--header-font);
	font-size: 1.111111111em; /* 18px / 16px = 1.111111111em */
	font-weight: 200;
}

ul {
	font-size: 0.875em;      /* 14px / 16px = 0.875em */
}
.hr {
	width: 100%;
	border-top: 1px solid #26455e;
}
.hidden {
	display: none;
}
.title {
	width: 100%;
	/* min-height: 20px; */
	float: right;
	font-family: var(--header-font);
	font-size: 1em;
	font-weight: bold;
	/*font-style: italic;*/
	color: #ccdcea;
	text-align: right;
}
.clear {
    float: left;
    clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}

/*========== Header ==========*/
#header {
    width: 100%;
    /* background: url("img/prism.png") top center; */
    padding: 20px 0;
    border-bottom: 1px solid rgb(72,131,179);
}

#header a {
    width: min-content;
    display: block;
    margin: 0 auto;
}

/*========== Experience ==========*/
#experience{
	background: rgb(75,75,75);
	width: 100%;
}
#experience img {
	width: 50%;
}
#experience .description h2{
	font-weight: 300;
	color: #aaa;
}
#experience .description {
	width: 46%;
	margin: 0 2%;
	text-align: center;
	/* border-top: 1px solid #888;
	border-bottom: 1px solid #888; */
}
#experience p {
	text-align: center;
	font-family: var(--header-font);
	font-size: 1em;
	font-weight: 200;
}
#experience .item {
	float: left;
	clear: both;
	margin: 100px 0;
	width: 100%;
}

/*========== Portfolio ==========*/
#portfolio{
    background: rgb(100,100,100);
}
.portfolio {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 50px 0;
	font-size: 0.75em;
}
.portfolio li {
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	width: 125px;
	height: 150px;
    list-style-position: inside;
    margin: 4px;
    padding: 0;
}
.portfolio img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	border:none;
}
.portfolio a {
	display: block;
	width: 150px;
	height: 150px;
    text-decoration: none;
}
.portfolio a:after {
    content:"\A";
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.2);
    position:absolute;
    top:0;
    left:0;
}
.portfolio a:hover:after {
    background:rgba(0, 0, 0, 0);
} 

.portfolio div {
	font-weight: bold;
	font-size: 1.125em;
	padding: 8px;
}

/*========== GLightbox ==========*/
.goverlay {
    background: rgba(10,10,10,.89) !important
}
.gslide-title {
    margin: 0;
    color: var(--rb-blue) !important;
}
.gslide-desc {
    color: var(--dark-gray) !important;
}
.gslide-description {
    background-color: var(--light-gray) !important;
}

/*========== Footer ==========*/
#footer {
	float: left;
	clear: both;
	width: 100%;
	border-top: 1px solid #4883b3;
	text-align: right;
	font-size: 0.85em;
	font-style: italic;
	font-weight: bold;
    color: #7E7DAB;
    /* background: url("img/prism.png") top center; */
}
#footer .footer_text {
    margin-top: 8px;
}
#footer .logo {
	display: block;
	float: right;
	border: none;
	margin-left: 1em;
}








/*========== Content ==========*/
#content {
	float: right;
	width: 74.21875%; /* (108.75px * 6cols = 652.5px) + (10px * 6gutters = 60px) = 712.5px / 960 =  0.7421875 [should be 5 gutters - so something is off, but its not worth tracking down] */
	margin: 0 0 0 0.96%;
}
#titlebar {
	float: left;
	clear: both;
	margin: 30px 0 0 0;
	width: 100%;
	border-bottom: 1px solid #4883b3;
}

#titlebar .logo {
	display: none;
	float: left;
	clear: left;
	border: none;
	width: 71px;
	margin-right: 1em; 
}
#tagbar {
	float: left;
	clear: both;
	width: 100%;
	/*border-top: 1px solid #4883b3;*/
	border-bottom: 1px solid #4883b3;
	margin-bottom: 0.625em;
}
#tagbar img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border: none;
}

@media screen and (max-width:786px) {
	#nav {
		display: none;
	}	
	#content {
		/*float: left !important;*/
		width: 100%;
	}
	#titlebar {
		margin: 0.2em 0 0 0;
		border-bottom: none;
	}
	#titlebar .logo {
		display: block;
	}
}