@import url(//fonts.googleapis.com/css?family=PT+Sans+Narrow); /* 'PT Sans Narrow', sans-serif; */
@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz); /* 'Yanone Kaffeesatz', sans-serif; */
/*
	Notes: Fluid Grid Layout - inspired by: Kevin Cornell
	url: http://www.alistapart.com/articles/fluidgrids/

	EM Conversion Equation: target(px) Ã· context(px) = result(em)
	% Conversion Equation: target(px) Ã· parent(px) = result (% * 10)

	Default Font: 16px [true default]
	total: 960px (960/16 = 60em)
	8 columns: 108.75px ea. (150/16 = 6.796875em) 
	9 gutters [includes outter gutters]: 10px ea. (10/16 = 0.625em)
	
    Background pattern from Toptal Subtle Patterns (prism.png)

*/

/* #999 */
html { 
    -webkit-text-size-adjust: none; 
} /* #nav hack and prevent font scaling in iOS */
body {
	padding: 0;
	margin: 0;
	font: normal 100% 'PT Sans Narrow', sans-serif;
    /*font: normal 100% Helvetica, Arial, sans-serif;*/ /* context set = 16px */
	color: #FFF;
    /* background: url("img/rb_bk.png") top center #050329 repeat-x; */
    /* background: url("img/prism.png") top center; */
    background: rgb(100,100,100);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8px;
}

/*========== inline ==========*/
a:link, a:visited { color: #5D9CD5; }
a:hover { color: #b5e3fa; }
h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;        /* 24px / 16px = 1.5em */
}
h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.25em; /* 20px / 16px = 1.25em */
}
h3 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.111111111em; /* 18px / 16px = 1.111111111em */
}

ul {
	font-size: 0.875em;      /* 14px / 16px = 0.875em */
}
.hr {
	width: 100%;
	border-top: 1px solid #26455e;
}
.hidden {
	display: none;
}
.title {
	width: 100%;
	/* min-height: 20px; */
	float: right;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1em;
	font-weight: bold;
	/*font-style: italic;*/
	color: #ccdcea;
	text-align: right;
}

/*========== Header ==========*/
#header {
    width: 100%;
    background: url("img/prism.png") top center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(72,131,179);
}

#header a {
    width: min-content;
    display: block;
    margin: 0 auto;
}

/*========== Portfolio ==========*/
.portfolio {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 100px 0;
	font-size: 0.75em;
}
.portfolio li {
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	width: 150px;
	height: 150px;
	padding: 0;
}
.portfolio img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	border:none;
}
.portfolio a {
	display: block;
	width: 150px;
	height: 150px;
	text-decoration: none;
}
.portfolio div {
	font-weight: bold;
	font-size: 1.125em;
	padding: 8px;
}

/*========== Footer ==========*/
#footer {
	float: left;
	clear: both;
	width: 100%;
	border-top: 1px solid #4883b3;
	text-align: right;
	font-size: 0.85em;
	font-style: italic;
	font-weight: bold;
    color: #7E7DAB;
    background: url("img/prism.png") top center;
}
#footer .footer_text {
	margin-top: 8px;
}
#footer .logo {
	display: block;
	float: right;
	border: none;
	margin-left: 1em;
}








/*========== Content ==========*/
#content {
	float: right;
	width: 74.21875%; /* (108.75px * 6cols = 652.5px) + (10px * 6gutters = 60px) = 712.5px / 960 =  0.7421875 [should be 5 gutters - so something is off, but its not worth tracking down] */
	margin: 0 0 0 0.96%;
}
/*.handheld_content {
	float: left !important;
	width: 98% !important;
}*/
#titlebar {
	float: left;
	clear: both;
	margin: 30px 0 0 0;
	width: 100%;
	border-bottom: 1px solid #4883b3;
}

#titlebar .logo {
	display: none;
	float: left;
	clear: left;
	border: none;
	width: 71px;
	margin-right: 1em; 
}
#tagbar {
	float: left;
	clear: both;
	width: 100%;
	/*border-top: 1px solid #4883b3;*/
	border-bottom: 1px solid #4883b3;
	margin-bottom: 0.625em;
}
#tagbar img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border: none;
}



/* slideshow */
/*--Window/Masking Styles--*/
#slideshow {
	float: left;
	clear: both;
	position: relative;
	width: 100%;
	padding: 0.25em 0 0.25em 0;
}
.window {
	height:286px;	
	width: 100%; /* height and width set for picture sizes */
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
}
.image_reel {
	position: absolute;
	width: 100%;
	top: 0; 		
	left: 0;
}
.image_reel img {
	width: 25%; /* of total slides 100/4slides = 25 */
	float: left;
	border: none;
}

/*--Paging Styles--*/
.paging {
	width: 100%;
	/*position: absolute;
	bottom: 0; 
	right: 0;*/
	/*width: 178px; 
	height:47px;
	z-index: 5;*/ /*--Assures the paging stays on the top layer--*/
	text-align: right;
	/*line-height: 40px;*/
	/*background: url(img/paging_bg2.png) no-repeat;*/
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}
.paging a {
	padding: 0.25em 1em;
	text-decoration: none;
	color: #fff;
}
.paging a.active {
	font-weight: bold;
	background: #920000;
	border: 1px solid #610000;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.paging a:hover {font-weight: bold;}

@media screen and (max-width:786px) {
	#nav {
		display: none;
	}	
	#content {
		/*float: left !important;*/
		width: 100%;
	}
	#titlebar {
		margin: 0.2em 0 0 0;
		border-bottom: none;
	}
	#titlebar .logo {
		display: block;
	}
}